html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.main {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
  height: 100vh;
}
.calculator {
  background-color: #242530;
  width: 400px;
  height: 340px;
}
.calculator__top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.display__action {
  color: white;
  font-size: 30px;
  padding: 0 0 0 14px;
}
.display__text {
  color: white;
  font-size: 44px;
  padding: 0 14px 0 0;
}
.display__error {
  padding: 5px 5px 0 0;
  width: 50px;
  height: 50px;
}
.calculator__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 70px;
  background-color: #3a3f77;
  border-radius: 20px;
}
.calculator__workspace {
  display: grid;
  grid-template-columns: 80px 80px 80px 55px 55px;
  grid-template-rows: repeat(4, 50px);
  justify-content: center;
  grid-template-areas:
    'num1 num2 num3 multiply divide'
    'num4 num5 num6 plus minus'
    'num7 num8 num9 percent exp'
    'num0 dots del equals equals';
}
.workspace__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  border-width: 0;
  cursor: pointer;
}
.workspace__button--grey {
  background-color: #404258;
  color: white;
  margin: 4px 12px;
}
.workspace__button--grey:hover {
  background-color: #54566d;
}
.workspace__button--grey:nth-child(1) {
  grid-area: num1;
}
.workspace__button--grey:nth-child(2) {
  grid-area: num2;
}
.workspace__button--grey:nth-child(3) {
  grid-area: num3;
}
.workspace__button--grey:nth-child(4) {
  grid-area: num4;
}
.workspace__button--grey:nth-child(5) {
  grid-area: num5;
}
.workspace__button--grey:nth-child(6) {
  grid-area: num6;
}
.workspace__button--grey:nth-child(7) {
  grid-area: num7;
}
.workspace__button--grey:nth-child(8) {
  grid-area: num8;
}
.workspace__button--grey:nth-child(9) {
  grid-area: num9;
}
.workspace__button--grey:nth-child(10) {
  grid-area: dots;
}
.workspace__button--grey:nth-child(11) {
  grid-area: num0;
}
.workspace__button--grey:nth-child(12) {
  grid-area: del;
  font-size: 18px;
}
.workspace__button--orange {
  background-color: #f49d1a;
  color: white;
  margin: 4px 6px;
}
.workspace__button--orange:hover {
  background-color: #d18718;
}
.workspace__button--lightGrey {
  background-color: #b2b2b2;
  color: white;
  grid-area: equals;
  font-size: 36px;
  margin: 4px 6px;
}
.workspace__button--lightGrey:hover {
  background-color: #9c9c9c;
}
